#cover{
  padding: 2vmin;
  h2{
    margin-top: 2vmin;
  }
  #cover-title {
    margin-top: 5vmin;
    margin-bottom: 5vmin;
  }
  #cover-author{
    margin-top: 10vmin;
    margin-bottom: 10vmin;
    font-weight: 500;
  }

  #cover-title, #cover-author, #cover-date, #cover-institute, #cover-university{
    text-align: center;
  }
  #cover-date{
    margin-top: 5vmin;
  }
}

// Segmentation
#intro-segmentation {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  transform: translate3d(100vw, -50vh, 0vw);
}

.fullscreen{
  width: 100vw;
  height: 100vh;
}
#intro-segmentation-original, #intro-segmentation-mask, #intro-segmentation-result {
  max-width: 30vw;
  max-height: 100vh;
  margin: 0.5vmin;
}

// Applications
#intro-applications {
  width: 100vw;
  text-align: center;
  transform: translate3d(100vw, 50vh, 0vw);
  > img {
    max-width: 24vw;
    max-height: 40vh;
  }
}
#intro-type{
  transform: translate3d(100vw, 100vh, 0vw);
  display: flex;
  align-items: center;
  h1 {
    position: absolute;
    max-width: 30vw;
    text-align: center;
  }
}
#intro-type-manual, #intro-type-automatic, #intro-type-interactive, #intro-type-interactive-save {
  position: absolute;
  text-align: center;
  transform-style: preserve-3d;
  > img {
    max-height: 25vh;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#intro-type-manual {
  transform: translate3d(5vw, 0vw, 0vw);
}
#intro-type-automatic {
  transform: translate3d(77vw, 0vw, 0vw);
}
#intro-type-interactive {
  transform: translate3d(42vw, 0vw, 0vw);
  .right {
    color: green;
  }
}
#intro-type-interactive-save {
  transform: translate3d(42vw, 0vw, 0vw);
  opacity: 0;
  .arrow {
    margin: 10vmin;
    margin-right: 40vmin;
  }
  #intro-type-interactive-save-arrow{
    transform: rotate(135deg);
  }
  #intro-type-interactive-save-arrow2{
    transform: rotate(-135deg);
  }
}
#intro-type-manual-user {
  font-size: 20vmin;
}
#intro-type-automatic-laptop {
  font-size: 20vmin;
}
#intro-type-automatic-result{
  transform-origin: 5vw -25vh;
}
#intro-type-automatic-result2{
  position: absolute;
  bottom: 0px;
  //transform: translateX(5vmin);
}
#intro-type-interactive-user {
  font-size: 20vmin;
}
#intro-type-interactive-laptop {
  font-size: 20vmin;
}
#intro-type .arrow{
  font-size: 10vmin;
}
#intro-type-automatic-fix{
  transform: translate3d(70vw, -40vh, 0vw);
}
#intro-type-interactive-continue{
  transform: translate3d(70vw, 40vh, 0vw);
}
#intro-type-edit{
  transform: translate3d(70vw, -10vh, 0vw);
}
#intro-type-reverse{
  transform: translate3d(70vw, 10vh, 0vw);
  color: green;
}
#related {
  transform: translate3d(210vw, 100vh, 0vw);
}
#related-zehiri{
  width: 60vw;
}
#related-superficies{
  //margin-top: 5vh;
}
#related-jackowski, #related-valenzuela, #related-yang, #related-harrison {
  width: 60vw;
}
#related-gc{
  transform: translate3d(5vw, 0vh, 0vw);
}
#related-hci{
  transform: translate3d(5vw, 5vh, 0vw);
}
#related-superficies-gc-hci{
  display: flex;
  margin-top: 5vh;
}
#related-karimov {
  width: 60vw;
}
#related-ift, #related-user-robot{
  transform: translate3d(5vw, -0vh, 0vw);
  width: 70vw;
}
#related-rw-ift-robot, #related-ift-robot{
  display: flex;
}
#related-user-robot{
  transform: translate3d(0vw, -0vh, 0vw);
}
#related-miranda, #related-spina {
  width: 60vw;
}
#digital-image {
  transform: translate3d(330vw, 150vh, -20vmin);
  h1, #digital-image-formula{
    padding: 2vmin;
  }
  .subformula .katex{
    font-size: 6vmin;
    color: red;
  }
}
#digital-image-formula-coordinate{
  position: absolute;
  transform: translate3d(5vw, 0vw, 0vw);
}
#digital-image-formula-color{
  transform: translate3d(23vw, 0vw, 0vw);
}
#digital-image-color-space {
  width: 40vw;
  top: 0px;
  transform: translate3d(5vw, 0vw, 0vw);
}
#digital-image-coordinate-space {
  width: 45vw;
  transform: translate3d(2.5vw, 0vw, 0vw);
}
#digital-image-arrow{
  position: absolute;
  left: 0;
  transform: translate3d(20vw, 10vw, 0vw);
  width: 60vw;
}
#digital-image-result{
  position: absolute;
  width: 45vw;
  height: 28vw;
  left: 0;
  transform: translate3d(2.5vw, 5.5vw, 0vw);
}
#graph {
  transform: translate3d(430vw, 150vh, -20vmin);
  > h1 {
    margin: 2vmin;
  }
  .subformula .katex{
    font-size: 6vmin;
    color: red;
  }
}
.algo{
  color: green;
}

.graph-formula-vertices{
  opacity: 0;
}
.graph-formula-arcs{
  opacity: 0;
}
.graph-formula-weight{
  opacity: 0;
}
#graph-formula {
  
}
#graph-formula-arc {
  position: absolute;
  transform: translate3d(5vw, 0vw, 0vw);
}
#graph-formula-omega {
  transform: translate3d(30vw, 0vw, 0vw);
}
#graph-picture{
  width: 60vw;
  height: 60vh;
  transform: translate3d(35vw, 0vw, 0vw);
}
.node {
  fill: none;
  stroke: black;
  stroke-width: 0.5vmin;
}
.edge, .arc{
  stroke: black;
  stroke-width: 0.5vmin;
  fill: none;
}
.arc {
  marker-end: url(#graph-picture-arrow);
}
.weight{
  font-size: 4vmin;
}
#graph-formula-reversed{
  position: absolute;
  left: 0;
  transform: translate3d(2vmin, 0vw, 0vw);
}
#graph-formulas{
  display: flex;
  margin: 2vmin;
}

#graph-adjacency {
  transform: translate3d(330vw, 250vh, -20vmin);
  > h1 {
    margin: 2vmin;
  }
}
.adj{
  // display: flex;
  // justify-content: center;
  position: relative;
  transform: translate3d(10vw, 0vh, 0vh);
  > img {
    width: 80vw;
    max-height: 80vh;
    + img {
      position: absolute;
      top: 0;
    }
  }
}

#image-graph {
  transform: translate3d(430vw, 250vh, -20vmin);
  > h1 {
    margin: 2vmin;
  }
  img{
    width: 50vw;
    max-height: 80vh;
  }
}
#image-graph-imgs{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
}
#graph-segmentation-imgs{
  display: flex;
  justify-content: center;
  align-content: center;  
}
#graph-segmentation-imgs1, #graph-segmentation-imgs2{
  display: flex;
  justify-content: center;
  align-content: center;  
  position: relative;
}

#graph-segmentation {
  width: 100vw;
  transform: translate3d(430vw, 350vh, -20vmin);
  img{
    width: 60vmin;
    height: 60vmin;
    margin: 2vmin;
  }
  > h1, .formulas {
    margin: 2vmin;
    position: relative;
  }
  justify-content: center;
}

#cut-formula, #family-formula, #energy-formula, #energy-formula2, #seed-formula{
  position: absolute;
  top: 0;
}
#energy-formula2{
  transform: translateY(10vh);
}
#graph-segmentation-object, #graph-segmentation-object2,
#cut1, #cut2, #seed1, #seed2{
  position: absolute;
  left: 0;
}
#cut-title, #family-title, #energy-title, #seed-title{
  position: absolute;
  left: 0;
}
#seed-formula .katex{
  font-size: 5vw;
}

#graph-segmentation-imgs3{
  transform: translateX(110vw);
  height: 60vmin;
  left: 0px;
  position: absolute;
  .katex{
    font-size: 20vw;
  }
  display: flex;
  align-items: center;
  #family-etcetera{
    height: 40vmin;
  }
}
#scc-formula .katex, #dcc-formula .katex, #connectivity-formula .katex, #connectivity-optimum-formula .katex{
  font-size: 4vw;
}
#opsf-formula .katex, #floresta-formula .katex{
  font-size: 5vw;
}

#graph-path {
  transform: translate3d(380vw, 410vh, -20vmin);
  width: 50vw;
  img {
    width: 40vw;
  }
}
#graph-predecessor {
  transform: translate3d(430vw, 450vh, -20vmin);
  width: 60vw;
  img {
    width: 40vw;
  }
}
#graph-spanning {
  transform: translate3d(490vw, 450vh, -20vmin);
  width: 50vw;
  img {
    width: 40vw;
  }
}
#graph-component {
  transform: translate3d(400vw, 510vh, -20vmin);
  width: 60vw;
  img {
    width: 40vw;
    position: absolute;
  }
}
#graph-connectivity{
  transform: translate3d(490vw, 510vh, -20vmin);
  img {
    width: 40vw;
  }
}
#graph-connectivity-optimum-path{
  width: 90vw;
  h2, div{
    //display: inline-block;
  }
}
#connectivity-picture{
  // transform: translate3d(40vw, -30vw, 0vmin);
}
#opsf{
  transform: translate3d(560vw, 480vh, -20vmin);
  width: 60vw;
}
#opsf-lines{
  position: absolute;
  transform: translate3d(530vw, 480vh, -20vmin);
  height: 50vh;
}
#opsf-formula{

}
#floresta-completo{
  display: inline-block;
}
#opsf-dynamic{
  width: 60vw;
  height: 30vw;
}
#opsf-subpath-conn-formula-before {
}
#opsf-subpath-names{
  position: relative;
}
#opsf-subpath-conn-formula .katex{
  font-size: 7vmin;
  color: red;
}
#opsf-smooth{
  margin-top: 3vmin;
  margin-bottom: -5vmin;
}
#ift{
  transform: translate3d(630vw, 500vh, -20vmin);
  width: 60vw;
}
#ift-steps{
  width: 60vw;
  height: 80vw;
}
#ift-pictures{
  position: relative;
  img{
    position: absolute;
    width: 100vmin;
    height: 100vmin;
  }
}
#border-polarity{
  transform: translate3d(683vw, 512vh, -60vmin);
  width: 100vw;
  img {
    width: 40vw;
  }
}
#shape-constraints{
  transform: translate3d(683vw, 560vh, -60vmin);
  width: 100vw;
  img {
    width: 40vw;
  }
}
#connectedness{
  transform: translate3d(683vw, 620vh, -60vmin);
  width: 100vw;
  img {
    width: 30vw;
  }
}

#oift{
  transform: translate3d(800vw, 540vh, -20vmin);
  width: 110vw;
  .katex{
    font-size: 5vmin;
  }
}

#oift-formula-energy, #oift h2{
  display: inline;
}
#orfc{
  transform: translate3d(800vw, 610vh, -20vmin);
  width: 110vw;
  .katex{
    font-size: 5vmin;
  }
}
// #digital-image{
//   width: 50vw;
//   height: 50vh;
//   background: blue;
//   transform: translate3d(150vw, 0vw, 0vw);
// }

// #cover{
//   padding: 2vmin;
//   .top, .bottom{
//     display: flex;
//     flex-direction: column;
//   }
//   .top{
//     justify-content:center;
//   }
//   .bottom{
//     justify-content:flex-end;
//   }
//   .bottom{
//     font-weight: 300;  
//   }
// }
// 